img{
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.container{
  	position: absolute;
  	top: 70%;
  	left: 40%;
}

button{
	width: 100px;
	height: 40px;
	display: inline;
  	margin-left: auto;
  	margin-right: auto;
}

#button1, #button3{
	visibility: hidden;
}